

:root {
  
  --bg: #342840;
  --red: #B3515E;
  --green: #8DB962;
  --gold: #fecc16;
}

body,
html {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
  user-select: none;;
}

* {
  box-sizing: border-box;
  font-family: 'Courier New';
}

#menu {
  background-color: var(--bg);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
#menu h1 {
  font-size: 64px;
}

#menu p {
  text-align: center;
  font-size: 24px;
}

#game {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
  display: none;
  background-color: var(--bg);
  color: white;
}

#board {
  position: relative;
  height: 100%;
  width: 100%;
}

#card-remaining {
  position: absolute;
  top: 232px;
  left: 16px;
  width: 130px;
  text-align: center;
  font-size: 16px;
}

.card {
  position: absolute;
  background-color: transparent;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  border-radius: 8px;
  transition:
    top 0.8s,
    left 0.8s,
    transform 0.2s;
}

.card .inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.card.hidden .inner {
  transform: rotateY(180deg);
}

.card.locked .front {
  border: 2px solid var(--red);
}

.card .front,
.card .back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.card .front {
  /* background-color: white; */
  background-image: url('/assets/card.webp');
  color: black;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.3s;
}

.card .front label {
  margin-top: 12px;
  width: 100%;
  text-align: center;
  color: white;
  cursor: pointer;
  color: var(--gold);
  font-size: 16px;
  padding: 0 16px;
  text-transform: uppercase;
}

.card .front p {
  width: 100%;
  text-align: center;
  padding: 8px;
  min-height: 50%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 12px;
  padding: 0 16px 16px 16px;
  cursor: pointer;
  transition: all 0.3s;
}
.card.m .front label {
 color: var(--red);
}
.card.b .front label {
 color:var(--green);
}
.card.t .front p {
  font-size: 24px;
}

.card .back {
  background-image: url('/assets/card-bg.webp');
  color: white;
  transform: rotateY(180deg);
  border-radius: 8px;
}
.card.b .back {
  background-image: url('/assets/card-bg-ben.webp');
}

#instruction {
  position: absolute;
  top: 16px;
  width: 500px;
  left: calc(50% - (500px / 2));
  text-align: center;
  font-size: 32px;
}

#goodEnd,
#badEnd {
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 64px;
  top: 0;
  left: 100%;
  bottom: 0;
  width: 100%;
  z-index: 100;
  opacity: 0;
  transition: opacity 0.3s;
}

#goodEnd {
  color: green;
}
#badEnd {
  color: red;
}

#malediction {
  position: absolute;
  z-index: 99;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 100%;
  bottom: 0;
  width: 100%;
  opacity: 0;
  transition: opacity 0.3s 0.8s;
  color: white;
  font-size: 24px;
}
#malediction button {
  margin-top: 280px;
}

button {
  border: none;
  border-radius: 8px;
  padding: 16px 32px;
  text-transform: uppercase;
  background: brown;
  color: white;
  margin-top: 16px;
  cursor: pointer;
  font-size: 24px;
  transition: all 0.3s;
}

button:hover {
  background: rgb(185, 47, 47);
}
